@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    font-family: "Lato", sans-serif;
    width: 550px;
}

.container {
    background: turquoise;
    width: 180px;
    height: 180px;
    position: relative;
}

.element,
.element9,
.element8,
.element7,
.element6,
.element5,
.element4,
.element3,
.element2,
.element1 {
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.element1 {
    background: papayawhip;
    position: absolute;
    left: 0;
    top: 0;
}

.element2 {
    background: papayawhip;
    position: absolute;
}

.element3 {
    background: papayawhip;
    position: absolute;
}

.element4 {
    background: pink;
    position: absolute;
}

.element5 {
    background: pink;
    position: absolute;
}

.element6 {
    background: pink;
    position: absolute;
}

.element7 {
    background: lightcyan;
    position: absolute;
}

.element8 {
    background: lightcyan;
    position: absolute;
}

.element9 {
    background: lightcyan;
    position: absolute;
}