.container {
    width: 100%;
    height: 100px;
    display: grid;
    background-color: #7a1c79;
}

.padre {
    width: 50%;
    height: 50%;
    display: grid;
    background-color: #fbc2ce;
}

.hijo {
    width: 50%;
    height: 50%;
    display: grid;
    background-color: #ffefdd;
}