body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: repeat(5, 100px) / repeat(5, 100px);
    justify-content: space-around;
    height: 100vh;
}

.item {
    background-color: pink;
    border: 1px dashed gray;
    border-collapse: collapse;
}